<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="topnav">
        {% for item in nav.top %}
            <a class="{{ 'active' if item.is_active else '' }}" href="{{ item.url }}">{{ item.label }}</a>
        {% endfor %}
    </div>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>