{% extends 'base.html' %}

{% block content %}
    <h3>Using {{ device}}</h3>
    <br>
    <form method="post">
        <label for="title">Files</label>
        <br>
        {% for file in files %}
            <input type="checkbox" name="file" id={{ file[0] }} value={{ file[0] }}>
            <label for={{ file[0] }}> {{ file[0] }} </label><br>
        {% endfor%}
        <br>
        <label for="title">Question</label>
        <br>
        <textarea name="question"
                  placeholder=""
                  rows="15"
                  cols="60"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

    <br>
    <h3>answer</h3>
    <p>{{ answer }}</p>

{% endblock %}